.amount {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-amount {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #f8f9fa;
    border: 2px solid #6c757d;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    width: 80%;
    margin: 0 auto;
}

.create-amount form {
    display: flex;
    flex-direction: column;
    width: 45%;
    gap: 20px;
    padding: 20px;
    border: 1px solid #ced4da;
    border-radius: 10px;
}

.create-amount input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.create-amount button {
    padding: 10px;
    font-size: 1em;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.create-amount button:hover {
    background-color: #0056b3;
}

.create-amount .amounts-list {
    width: 45%;
    border: 1px solid #ced4da;
    border-radius: 10px;
    padding: 20px;
}

.create-amount h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.create-amount ul {
    list-style-type: none;
    padding: 0;
}

.create-amount li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.create-amount li:hover {
    background-color: #e0e0e0;
}

.create-amount li p {
    margin: 0;
}

.create-amount li p:first-child {
    font-weight: bold;
    font-size: 16px;
}

.create-amount li p:last-child {
    font-size: 14px;
    color: #777;
}
